.header {
    background: black;
    padding-top: 1.2rem;
}

.logo img {
    width: 14rem;
    height: 9rem;
}

.logoImg {
    background: url("/wrc_logo_v.png") no-repeat;
    background-size: contain;
    width: 14rem;
    height: 9rem;
}

.menu {
    border-top: 1px solid rgba(255, 255, 255, .1);
    width: 100%;
    margin-top: 1.2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.menu ul {
    height: 100%;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    height: 100%;
    padding: 1.6rem 0;
    background: transparent;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
}

/*.menu ul li:not(:last-of-type) {*/
/*    margin-right: 3rem;*/
/*}*/

.navLink {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    font-weight: 700;
    padding: 2rem 1rem;
    transition: .2s;
}

@media (min-width: 744px) {
    .navLink {
        padding: 2rem 3rem;
    }
}

.navLink:hover,
.navLink:active {
    color: white;
}

.navLink:after {
    content: '';
    width: 1px;
    height: 10px;
    background: white;
    opacity: .14;
    position: absolute;
    left: 48%;
    bottom: 3px;
    transition: all .2s;
    animation: inActiveAnim 1s;
}

@keyframes inActiveAnim {
    0% {
        bottom: 3px;
        opacity: .14;
    }
    50% {
        bottom: 7px;
        opacity: .7;
    }
    100% {
        bottom: 3px;
        opacity: .14;
    }
}


.activeClassName {
    color: white;
}

.activeClassName:after {
    content: '';
    width: 2rem;
    height: 3px;
    background: #efc426;
    position: absolute;
    border-radius: 2px;
    left: 50%;
    opacity: 1;
    transform-origin: center;
    transform: translateX(-50%);
    bottom: 0;
    animation: activeAnim 3s;
}

@keyframes activeAnim {
    0% {
        transform: translateX(-50%) scale(1);
    }
    10% {
        transform: translateX(-50%) scale(1.5);
    }
    20% {
        transform: translateX(-50%) scale(1);

    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}