* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #252525;
  color: #e7e7e7;
}

body {
  font-family: 'Lato', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

.row {
  width: 90%;
  margin: 0 auto;
}

a {
  color: rgba(255, 255, 255, .76);
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: all .2s;
}

a:hover,
a:active {
  color: #efc426;
}